extends ../layout/index
block container
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen de nosotros" class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam blanditiis animi.
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo officia asperiores dolorem id, similique, recusandae qui repellat reiciendis distinctio totam quidem animi omnis, doloremque harum quam ipsam suscipit? Quisquam, nisi nobis expedita sint odit labore, placeat eius magnam quod laudantium, atque hic! Esse, 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit vero delectus cum facilis doloremque
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="/img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quibusdam et voluptates obcaecati rerum nisi!
                .col-md-4
                    img(src="/img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quibusdam et voluptates obcaecati rerum nisi!
                .col-md-4
                    img(src="/img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quibusdam et voluptates obcaecati rerum nisi!